<h1>Admin Page</h1>
<h3>Use the following links to add/delete trains and cities.</h3>
<div class="container">
  <a href="/trains_form">Add New Train</a>
  <br>
  <a href="/cities/cities_form">Add New City</a>
  <br>
  <a href="/trains">Delete Train</a>
  <br>
  <a href="/cities">Delete City</a>
</div>
