<h1>Welcome to the Train Scheduler App</h1>

<div class="container">
  <a href="/trains">View All trains</a>
  <a href="/trains/trains_form">Add New train</a>
  <a href="/cities"></a>
  <a href="/cities/cities_form"></a>
</div>
