<h1>Welcome to the Train Schedule App</h1>

<div class="container">
  <a href="/trains">View All Trains</a>
  <br>
  <a href="/cities">View All Cities</a>
  <br>
  <div class="admin">
    <a href="/admin">Admin</a>
  </div>

</div>
