<h1>Welcome to the Train Schedule App</h1>

<div class="container">
  <a href="/trains">View All Trains</a>
  <a href="/trains/trains_form">Add New Train</a>
  <a href="/cities">View All Cities</a>
  <a href="/cities/cities_form">Add New City</a>
</div>
