<h1>Add a train</h1>

<form action="/trains" method="post">
  <label for="name">Assign a name to your train:</label>
  <input type="text" name="name" id="name">

  <button type="submit" name="button">Add train</button>
</form>
