
<h1><%= @train.name %></h1>

<p><b>Train Name: </b> <%= @train.name %> </p>
<p><b>Train Number: </b><%= @train.number %></p>
<p><b>Train Capacity: </b><%= @train.capacity %></p>
<p><b>Makes Stops In: </b> FILL IN CITIES</p>
<br>
<a href="/trains">Return to train list</a>
<br>
<a href="/">Return to home</a>
