<h1>List of Trains</h1>
<ul>
  <% @trains.each do |train| %>
    <li><a href="/trains/<%= train.id() %> "><%= train.name %> </a><a href="/trains/<%=train.id()%>/delete ">delete</a></li>
  <% end %>
</ul>
<br>
<a href="/trains_form">Add another train</a>
<br>
<a href="/">Return to home</a>
